{% extends "layout.html" %}

{% block title %}Home - My Django Project{% endblock %}

{% block content %}
<section>
    <h1>Welcome to the Home Page!</h1>
    <p>This is the root folder. I have created the home page, about page, and contact page in the root folder.
        The home and about page return a html page and the contact page returns a Json object.
    </p>
    <p>I have created a separate app - Shop for listing and viewing item details available in the shop</p>

</section>
{% endblock %}